[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Desktop Overview
Name[cs]=Přehled plochy
Name[de]=Desktop - Übersicht
Name[es]=Información general del escritorio
Name[fr]=Aperçu du bureau
Name[hu]=Munkaasztal áttekintése
Name[it]=Introduzione al desktop
Name[ja]=デスクトップの概要
Name[ko]=데스크탑 개요
Name[pt_BR]=Visão geral do desktop
Name[sv]=Skrivbordet, översikt
Name[zh_CN]=桌面系统概述
Name[zh_HK]=桌面簡介
Name[zh_TW]=桌面簡介
Comment=Introduction to the Java™ Desktop System
Comment[cs]=Představení Java™ Desktop Systému
Comment[de]=Einführung in Java™ Desktop System
Comment[es]=Introducción a Java™ Desktop System
Comment[fr]=Introduction à Java™ Desktop System
Comment[hu]=Bevezetés a Java™ Desktop System-be
Comment[it]=Introduzione a Java™ Desktop System
Comment[ja]=Java™ Desktop System の概要
Comment[ko]=Java™ Desktop System 소개
Comment[pt_BR]=Introdução ao Java™ Desktop System
Comment[sv]=Välkommen till Java™ Desktop System
Comment[zh_CN]=Java™ 桌面系统简介
Comment[zh_HK]=Java™ Desktop System 簡介
Comment[zh_TW]=Java™ Desktop System 簡介
Exec=jds-help ghelp:jdsoverview
Icon=gnome-help
Terminal=false
StartupNotify=true
